.time {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: right;
    background-color: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #9c8468;
    opacity: 0.3;
}
.time:hover {
    background-color: rgba(255,255,255,1);
    opacity: 1;
    text-shadow: none;
    color: #000000;
}
.error {
    background-color: rgba(200,80,80,0.5);

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.subgalleries {
    float: left;
    width: auto;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.hlable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background-color: transparent;

    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
}
.hlable:hover {
    background-color: white;
}
.bg {
    background-color: grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;
}
* {
    margin: 0px;
    padding: 0px;
}
.topbar {
    width:100%;
}
.content {
    overflow: auto;

    padding-top: 8px;
    padding-bottom: 8px;
    width:100%;
}
.image {
    padding: 5px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background-color: grey;

    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
}
.image:hover {
    background-color: white;
}
.openid {
    padding: 5px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background-color: silver;

    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
}
.openid:hover {
    background-color: white;
}
.admin_body
{
    background-image: linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(48,0,0) 100%, rgb(38,0,0) 50%);
    background-image: -o-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(48,0,0) 100%, rgb(38,0,0) 50%);
    background-image: -moz-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(48,0,0) 100%, rgb(38,0,0) 50%);
    background-image: -webkit-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(48,0,0) 100%, rgb(38,0,0) 50%);
    background-image: -ms-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(48,0,0) 100%, rgb(38,0,0) 50%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.18, rgb(0,0,0)), color-stop(1, rgb(48,0,0)), color-stop(0.5, rgb(38,0,0)));
}
body {
    overflow-y: auto;
    overflow-x: hidden;

    background-image: linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(28,28,28) 100%, rgb(18,18,18) 50%);
    background-image: -o-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(28,28,28) 100%, rgb(18,18,18) 50%);
    background-image: -moz-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(28,28,28) 100%, rgb(18,18,18) 50%);
    background-image: -webkit-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(28,28,28) 100%, rgb(18,18,18) 50%);
    background-image: -ms-linear-gradient(left bottom, rgb(0,0,0) 18%, rgb(28,28,28) 100%, rgb(18,18,18) 50%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.18, rgb(0,0,0)), color-stop(1, rgb(28,28,28)), color-stop(0.5, rgb(18,18,18)));
}
.subgallery {
    text-decoration: none;
}
.home {
    width: auto;
    float: left;
    padding: 0px;
    background-color: silver;
    text-align:center;
    text-shadow:5px 5px 10px #000000;

    border:solid 3px grey;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;

}
.logo {
    width: auto;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    background-color: silver;
    text-align:center;
    text-shadow:5px 5px 10px #000000;

    border:solid 3px grey;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px;

    -moz-box-shadow:-10px 10px 5px #000000;
    -webkit-box-shadow:-10px 10px 5px #000000;
    box-shadow:-10px 10px 5px #000000;

    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
    transform: rotate(-25deg) scale(1) translate(10px, -15px);
    -webkit-transform: rotate(-25deg) scale(1) translate(10px, -15px);
    -moz-transform: rotate(-25deg) scale(1) translate(10px, -15px);
    -o-transform: rotate(-25deg) scale(1) translate(10px, -15px);
    -ms-transform: rotate(-25deg) scale(1) translate(10px, -15px);
}
.logo:hover{
    transform: rotate(-5deg) scale(1.5) translate(-20px, -20px);
    -webkit-transform: rotate(-5deg) scale(1.5) translate(-20px, -20px);
    -moz-transform: rotate(-5deg) scale(1.5) translate(-20px, -20px);
    -o-transform: rotate(-5deg) scale(1.5) translate(-20px, -20px);
    -ms-transform: rotate(-5deg) scale(1.5) translate(-20px, -20px);
}

table.profiles {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
}
table.profiles th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
}
table.profiles td {
        border-width: 0px;
        padding: 0px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
}
ul {
    padding-left: 1.1em;
}
a:link {color: #1F1F1F; text-decoration: none; }
.admin_button { background: none; border: none; color: #1F1F1F; font-family: verdana,arial,sans-serif; }
a:hover {color: #000000; text-decoration: none; }
.admin_button:hover { cursor: pointer; color: #000000; }
a:active {color: #0000ff; text-decoration: none; }
a:visited {color: #1F1F1F; text-decoration: none; }
