<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('show_static', path="pyrellag.css") }}" type="text/css" rel="stylesheet" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block first %}{% endblock %}
        <a href='https://github.com/stenyak/pyrellag'><div class='logo'>powered by<br/><b>Pyrellag!</b></div></a>
        <div id='time'>Generation time: TTTTIMEs</div>
        {% if user %}
            <div style="color: #ffffff">Logged in as {{ user.name }} (<a href="{{ url_for('edit_profile') }}">profile</a> | <a href="{{ url_for('logout') }}">log out</a>)</div>
        {% else %}
            <div style="color: #ffffff">No permission (<a href="{{ url_for('login') }}">log in</a>)</div>
        {% endif %}
        <div style='clear:both'/>
        {% block body %}{% endblock %}
    </body>
</html>
