<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('show_static', path="pyrellag.css") }}" type="text/css" rel="stylesheet" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% if not authn_error %}
            {% block header %}{% endblock %}
        {% endif %}
        <a href='https://github.com/stenyak/pyrellag'><div class='logo'>powered by<br/><b>Pyrellag!</b></div></a>
        <div class="bg topbar">
                {% if user %}
                    <a class="hlable" href="{{ url_for('edit_profile') }}">{{ user.name }}</a>
                    {% if user.in_group("profile_editors") %}
                        |
                        <a class="hlable" href="{{ url_for('edit_profiles') }}">edit profiles</a>
                    {% endif %}
                    |
                    <a  class="hlable" href="{{ url_for('logout') }}">log out</a>
                {% else %}
                    <a class="hlable" href="{{ url_for('login') }}">log in</a>
                {% endif %}
        </div>
        <div class='time'>render time: TTTTIMEs</div>
        <div style='clear:both'/>
        {% if authn_error %}
            <div class="bg">
                <span class="error">
                    You are not authorized to view this page.
                </span>
                <p>
                {% if authn_error != True %}
                    <span class="error">
                        Reason: {{ authn_error }}
                    </span>
                {% endif %}
            </div>
        {% else %}
            {% block body %}{% endblock %}
        {% endif %}
    </body>
</html>
