{% extends "base.html" %}
{% block title %}Create Profile{% endblock %}
{% block body %}
<div class="bg">
  <h2>Create Profile</h2>
    <p>This seems to be a new user.</p>
    <p>Before continuing, please check that your data is correct:</p>
    <form action="" method=post>
      Name: <input type=text name=name size=30 value="{{ request.values.name }}">
      <br/>
      Email: <input type=text name=email size=30 value="{{ request.values.email }}">
      <br/>
      <input type=submit value="Continue">
      <a href="{{ url_for('logout') }}">(or cancel)</a>
      <input type=hidden name=next value="{{ next }}">
    </form>
</div>
{% endblock %}
