{% extends "base.html" %}
{% block title %}Gallery for {{ path }}{% endblock %}
{% block extra_head %}
        <link href="{{ url_for('show_static', path="ps/photoswipe.css") }}" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{{ url_for('show_static', path="ps/lib/klass.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('show_static', path="ps/code.photoswipe-3.0.5.min.js") }}"></script>
{% endblock %}
{% block first %}
        <div id='subgalleries'>
            Gallery:
            {% for i in parents %}
                <a class='hlable' href='{{ url_for('show_gallery', path=i.key|urlencode) }}'>{{ i.value }}</a> /
            {% endfor %}
            {{ basename }} ({{ nfiles }})

                <ul style='margin: 0px'>
                    {% for i in galleries %}
                    <a class='subgallery' href='{{ url_for('show_gallery', path=i.key|urlencode) }}'><li class='hlable'>{{ i.value }}</li></a>
                    {% endfor %}
                </ul>
        </div>
{% endblock %}
{% block body %}
        <div id='Gallery' style='text-align:center;'>
            {% for i in files %}
                {% if i.type == "image" %}
                <a class='photo' href='{{ url_for('show_data', path=i.file_path|urlencode) }}'><img class='image' src='{{ url_for('show_data', path=i.thumb_path|urlencode) }}' alt='Filename: {{ i.file_path }}'/></a>
                {% elif i.type == "video" %}
                <a href='{{ url_for('show_video', path=i.file_path|urlencode) }}'><img class='image' src='{{ url_for('show_data', path=i.thumb_path|urlencode) }}' alt='Filename: {{ i.file_path }}'/></a>
                {% endif %}
            {% endfor %}
        </div>
        <script>
            document.addEventListener(
                'DOMContentLoaded',
                function()
                {
                    var myPhotoSwipe = Code.PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a.photo'), { enableMouseWheel: true , enableKeyboard: true, imageScaleMethod: 'fitNoUpscale', loop: false, captionAndToolbarAutoHideDelay: 0, captionAndToolbarOpacity: 0.3} );
                },
                false
            );
        </script>
{% endblock %}
