{% extends "base.html" %}
{% block title %}Video: {{ video_path }}{% endblock %}
{% block first %}
    <div id='subgalleries'>
        Video: <a class='hlable' href='{{ url_for('show_gallery', path=path|urlencode) }}'>{{ path }}</a> / <a class='hlable' href="{{ url_for('show_data', path=video_path|urlencode) }}">{{ video_basename }}</a>
    </div>
{% endblock %}
{% block body %}
    <div style='text-align:center;'>
        {% if user %}
            <video controls autoplay>
                <source src="{{ url_for('show_data', path=video_path|urlencode) }}"/>
            </video>
        {% endif %}
    </div>
{% endblock %}
