{% extends "base.html" %}
{% block title %}Video: {{ video_path }}{% endblock %}
{% block route %}
    {% for i in route %}
        / <a class='hlable' href='{{ url_for('show_gallery', path=i.key|urlencode) }}'>{{ i.value }}</a>
    {% endfor %}
    / <a class='hlable' href="{{ url_for('show_data', path=video_path|urlencode) }}">{{ video_basename }}</a>
{% endblock %}
{% block body %}
    <div style='text-align:center;'>
        <video controls autoplay>
            <source src="{{ url_for('show_data', path=video_path|urlencode) }}"/>
        </video>
    </div>
{% endblock %}
