<!doctype html>
<html>
    <head>
        <title>Video: {{ video_path }}</title>
        <link href="/file/pyrellag.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id='subgalleries'>
            Video: <a class='hlable' href='/gallery/{{ path|urlencode }}'>{{ path }}</a> / <a class='hlable' href="/file/{{ video_path|urlencode }}">{{ video_basename }}</a>
        </div>
        <a href='https://github.com/stenyak/pyrellag'><div class='logo'>powered by<br/><b>Pyrellag!</b></div></a>
        <div style='clear:both'/>
        <div style='text-align:center;'>
            <video controls autoplay>
                <source src="/file/{{ video_path|urlencode }}"/>
            </video>
        </div>
    </body>
</html>
